main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ddd {
  width: 2rem;
}

#phone-number {
  width: 7rem;
}

input {
  margin-right: 1rem;
}
