main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone-number-state {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.phone-number-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#ddd {
  width: 2rem;
}

#phone-number {
  width: 7rem;
}

input {
  margin-right: 1rem;
}

.address-example {
  color: #908f8f;
}
