<main>
  <section class="phone-number-state">
    <div>Qual o seu número de celular e/ou WhatsApp?</div>
    <div>Vamos usar para confirmar o pedido ou avisar sobre eventuais imprevistos.</div>

    <section class="phone-number-input">
      <div class="input-container">
        <label for="ddd">DDD</label>
        <input id="ddd" type="tel" maxlength="2" placeholder="XX" [(ngModel)]="ddd" (keydown)="numberOnly($event)">
      </div>

      <div class="input-container">
        <label for="phone-number">Celular</label>
        <div>
          <input id="phone-number" type="tel" maxlength="10" placeholder="XXXXX-XXXX" [autocomplete]=false [(ngModel)]="phoneNumber" (ngModelChange)="formatPhoneNumber(); confirmPhoneNumber()" (keydown)="numberOnly($event)" (keydown.enter)="confirmPhoneNumber()">
          <span>(apenas números)</span>
         </div>
      </div>
    </section>

    <button (click)="confirmPhoneNumber()">Confirmar Número</button>
  </section>

  <section *ngIf="state === IUserInfoState.FIRST_TIME_ORDERING && phoneNumber.length === 10">
    <section class="getting-name">
      <div>Parece que é a sua primeira vez pedindo com a gente</div>
      <div class="input-container">
        <label for="name">Como podemos te chamar?</label>
        <input id="name" placeholder="Digite seu nome ou apelido" [(ngModel)]="name.stringName" (keydown.enter)="confirmName()">
      </div>

      <button (click)="confirmName()">Confirmar nome</button>
    </section>

    <section class="getting-address" *ngIf="name.finishedTypingName">
      <div class="input-container">
        <label for="address">Certo, {{name.stringName}}. Qual será o endereço de entrega?</label>
        <span class="address-example">Ex: Rua do Rumo, 181 - Venda da Cruz, São Gonçalo</span>
        <textarea id="address" rows="5" cols="50" placeholder="Digite aqui seu endereço" [(ngModel)]="chosenAddress"></textarea>
      </div>

      <app-yellow-button
        *ngIf="chosenAddress.length >= 10"
        text="CONFIRMAR PEDIDO"
        (clicked)="confirmOrder()"
      ></app-yellow-button>
    </section>

  </section>

  <section *ngIf="state === IUserInfoState.USER_WITH_NO_ADDRESS && userFound && phoneNumber.length === 10">
    <div>Olá, {{userFound.name}}! Qual será o endereço de entrega?</div>

    <div class="input-container">
      <span class="address-example">Ex: Rua do Rumo, 181 - Venda da Cruz, São Gonçalo</span>
      <textarea id="address-with-user" rows="5" cols="50" placeholder="Digite aqui seu endereço" [(ngModel)]="chosenAddress"></textarea>
    </div>

    <app-yellow-button
      *ngIf="chosenAddress.length >= 10"
      text="CONFIRMAR PEDIDO"
      (clicked)="confirmOrder()"
    ></app-yellow-button>
  </section>

  <section *ngIf="state === IUserInfoState.USER_WITH_ADDRESS && userFound">
    <div>Olá, {{userFound.name}}!</div>
    <div>Vi aqui que na última vez que você pediu foi no endereço:</div>
    <p>{{userFound.addresses[userFound.addresses.length - 1]}}</p>

    <p>Gostaria de pedir novamente nesse endereço?</p>
    <div>
      <label for="yes">Sim</label>
      <input type="radio" name="same-address" id="yes" [value]="true" [(ngModel)]="sameAddress">
      <label for="no">Não</label>
      <input id="no" type="radio" name="same-address" [value]=false [(ngModel)]="sameAddress">
    </div>

<!--  Como essa variável inicializa como "undefined" fiz um if que compara estritamente com 'false'  -->
    <div class="input-container" *ngIf="sameAddress === false">

      <section *ngIf="userFound.addresses.length > 1">
        <p>Gostaria de pedir em algum dos outros endereços que você já pediu?</p>
        <div *ngFor="let address of userFound.addresses; let i = index">
          <input type="radio" name="other-address" id="address{{i}}" [value]="address" [(ngModel)]="chosenAddress" (change)="updateButtonVisibility(true)">
          <label for="address{{i}}">{{address}}</label>
        </div>
        <input id="address{{userFound.addresses.length}}" type="radio" name="other-address" value="new" [(ngModel)]="chosenAddress" (change)="updateButtonVisibility(false)">
        <label for="address{{userFound.addresses.length}}">Não, quero inserir um novo endereço.</label>

        <section *ngIf="chosenAddress === 'new'" class="input-container">
          <label for="new-address">Certo, {{name.stringName}}. Qual será o endereço de entrega?</label>
          <span class="address-example">Ex: Rua do Rumo, 181 - Venda da Cruz, São Gonçalo</span>
          <textarea id="new-address" rows="5" cols="50" placeholder="Digite aqui seu endereço" [(ngModel)]="newAddress"></textarea>
        </section>

        <app-yellow-button
          *ngIf="showButtonForConfirmOrder else addingNewAddress"
          text="CONFIRMAR PEDIDO"
          (clicked)="confirmOrder()"
        ></app-yellow-button>

        <ng-template #addingNewAddress>
          <app-yellow-button
            *ngIf="newAddress.length >= 10"
            text="CONFIRMAR PEDIDO"
            (clicked)="confirmOrder()"
          ></app-yellow-button>
        </ng-template>


      </section>

    </div>

    <app-yellow-button
      *ngIf="sameAddress"
      text="CONFIRMAR PEDIDO"
      (clicked)="confirmOrder()"
    ></app-yellow-button>

  </section>
</main>
