<section>
  <div class="ddd">
    <label for="ddd">DDD</label>
    <input id="ddd" type="tel" maxlength="2" [(ngModel)]="ddd" (keydown)="numberOnly($event, 'ddd')">
  </div>

  <div class="main-phone-number">
    <label for="phone-number">Celular</label>
    <span class="input-number-container">
      <input id="phone-number" type="tel" maxlength="10" [autocomplete]=false [(ngModel)]="phoneNumber" (ngModelChange)="formatPhoneNumber()" (keydown)="numberOnly($event, 'phone-number')">
      <span>(apenas números)</span>
    </span>
  </div>
</section>
