<p>Gestor de cardápio</p>

<section class="burgers">
  <h1>Hambúrgueres</h1>
  <section class="list-and-form">
      <app-burger-list-for-management></app-burger-list-for-management>
      <app-add-burger-form></app-add-burger-form>
  </section>
</section>

<section class="ingredients">
  <h1>Ingredientes</h1>
  <section class="list-and-form">
      <app-ingredient-list-for-management></app-ingredient-list-for-management>
  </section>
</section>

<section class="portions">
  <h1>Porções</h1>
   <section>
      <app-portion-list-for-management></app-portion-list-for-management>
   </section>
</section>

<section class="drinks">
    <div>Bebidas</div>
    <app-drink-list-for-management></app-drink-list-for-management>
</section>
