<h1>Gestor de cardápio</h1>

<section class="burgers">
  <h2>Hambúrgueres</h2>
  <section class="list-and-form">
      <app-burger-list-for-management></app-burger-list-for-management>
      <app-add-burger-form></app-add-burger-form>
  </section>
</section>

<section class="categories">
  <h2>Categorias</h2>
  <section class="list-and-form">
    <app-category-list-for-management></app-category-list-for-management>
    <app-add-category-form (newCategoryAdded)="handleNewCategory()"></app-add-category-form>
  </section>
</section>

<section class="ingredients">
  <h2>Ingredientes</h2>
  <section class="list-and-form">
      <app-ingredient-list-for-management></app-ingredient-list-for-management>
      <app-add-ingredient-form></app-add-ingredient-form>
  </section>
</section>

<section class="portions">
  <h2>Porções</h2>
   <section>
      <app-portion-list-for-management></app-portion-list-for-management>
   </section>
</section>

<section class="drinks">
    <h2>Bebidas</h2>
    <app-drink-list-for-management></app-drink-list-for-management>
</section>
