header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-admin {
  position: absolute;
  right: 1%;
  top: 1%;
}

.key-and-value{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.value {
  text-align: right;
}

section {
  width: 30rem;
}

.ticket-order{
  border: solid 0.15rem white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.add-on-list {
  display: flex;
  flex-direction: column;
}

.no-drinks {
  margin-bottom: 1rem;
}
