header {
  display: flex;
  flex-direction: column;
}

h3 {
  
  margin: 1.5rem 0 0 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 400;
  font-family: 'Architects Daughter', cursive;
  margin: 0;
  padding: 0;
  color: #EDD925;
}
