button {
  background-color: transparent;
}


/* Firefox */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    text-align: center;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border: solid white 0.2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
}

img {
  object-fit: contain;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 8rem;
  height: 8rem;
}

.about-item {
  width: 100%;
  padding-right: 0.5rem;
}

.adding-item {
  width: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quantity-and-price {
  display: flex;
  justify-content: flex-end;
  width: 98%;
}
/*.about-item {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: flex-start;*/
/*  align-items: flex-start;*/
/*  width: 100%;*/
/*  padding-right: 0.5rem;*/
/*}*/
