<ng-template #notHidden>
  <main>

    <section class="burgers">
      <h2>Hambúrgueres:</h2>
      <app-loading-spinner [isLoading]="!burgersLoaded"></app-loading-spinner>
      <div *ngFor="let category of availableBurgers | keyvalue">
        <h4>{{category.key}}</h4>
        <ul>
          <li *ngFor="let burger of category.value">
            <h4>{{burgerCaster(burger).getTitle()}}</h4>
            <p>{{burgerCaster(burger).ingredientsToString()}}</p>
            <h4>{{formatPrice(burgerCaster(burger).getPrice())}}</h4>
            <div class="adding-item">
              <button class="decrement-button" (click)="removeItem(burgerCaster(burger))">-</button>
              <div>{{countItems(burgerCaster(burger))}}</div>
              <button class="increment-button" (click)="addItem(burgerCaster(burger))">+</button>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="portions">
      <app-loading-spinner [isLoading]="!portionsLoaded"></app-loading-spinner>
      <h2>Porções:</h2>
      <div *ngFor="let portion of availablePortions">
        <ul>
          <li>
            <h3>{{portion.getTitle()}}</h3>
            <p>{{portion.getDescription()}}</p>
            <h4>{{formatPrice(portion.getPrice())}}</h4>
            <div class="adding-item">
              <button class="decrement-button" (click)="removeItem(portion)">-</button>
              <div>{{countItems(portion)}}</div>
              <button class="increment-button" (click)="addItem(portion)">+</button>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="drinks">
      <h2>Bebidas:</h2>
      <app-loading-spinner [isLoading]="!drinksLoaded"></app-loading-spinner>
      <div *ngFor="let drink of availableDrinks">
        <ul>
          <li>
            <h3>{{drink.getTitle()}} {{drink.getMl()}}mL</h3>
            <h4>{{formatPrice(drink.getPrice())}}</h4>
            <div class="adding-item">
              <button class="decrement-button" (click)="removeItem(drink)">-</button>
              <div>{{countItems(drink)}}</div>
              <button class="increment-button" (click)="addItem(drink)">+</button>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <app-yellow-button
      [text]="buttonLabelForNextStep()"
      (clicked)="goToNextStep()"
    ></app-yellow-button>

  </main>
</ng-template>

<app-yellow-button
  *ngIf="hidden; else notHidden"
  text="ALTERAR PEDIDO"
  (clicked)="reChooseItems()"
></app-yellow-button>
