<main>
  <h3>Gerir Hambúrgueres</h3>
  <section *ngFor="let burger of burgerList">

    <div class="prop-container">
      <div>Título:</div>
      <div>{{burger.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div>Categoria:</div>
      <div>{{burger.getCategory().title}}</div>
    </div>

    <div class="prop-container">
      <div>Preço:</div>
      <div>{{burger.getPrice()}}</div>
    </div>

    <div class="prop-container">
      <div *ngIf="burger.getPic(); else noPic">
        <div>Foto:</div>
        <img ngSrc="{{burger.getPic()}}" alt="{{burger.getTitle()}}" fill="false">
      </div>
      <ng-template #noPic>
        <div>Foto:</div>
        <div>sem foto</div>
      </ng-template>
    </div>

    <div class="prop-container">
      <div>Ingredientes:</div>
       <div>{{burger.ingredientsToString()}}</div>
    </div>

    <div class="prop-container">
      <div>Em estoque:</div>
      <div *ngIf="burger.getInStock()">Sim</div>
      <div *ngIf="!burger.getInStock()">Não</div>
    </div>

    <div class="buttons">
      <button>Editar</button>
      <button>Excluir</button>
    </div>

  </section>
</main>
<div class="empty-message" *ngIf="burgerList.length === 0">Sem hambúrgueres, adicione novos</div>
