<header>
  <button (click)="goToAdminPage()">Voltar</button>
</header>

<section class="burgers">
  <h1>Hambúrgueres</h1>
  <section class="list-and-form">
      <app-burger-list-for-management></app-burger-list-for-management>
      <app-add-burger-form></app-add-burger-form>
  </section>
</section>

<section class="categories">
  <h1>Pães</h1>
  <section class="list-and-form">
    <app-bread-list-for-management></app-bread-list-for-management>
    <app-add-bread-form></app-add-bread-form>
  </section>
</section>

<section class="categories">
  <h1>Categorias</h1>
  <section class="list-and-form">
    <app-category-list-for-management></app-category-list-for-management>
    <app-add-category-form></app-add-category-form>
  </section>
</section>

<section class="ingredients">
  <h1>Ingredientes</h1>
  <section class="list-and-form">
      <app-ingredient-list-for-management></app-ingredient-list-for-management>
      <app-add-ingredient-form></app-add-ingredient-form>
  </section>
</section>
