<div class="empty-message" *ngIf="allDrinks.length === 0">Sem bebidas, adicione novas</div>
<main *ngFor="let drink of allDrinks">
  <section *ngIf="!drink.getEditable()">
    <div class="prop-container">
      <div class="key">Título:</div>
      <div class="value">{{drink.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Preço:</div>
      <div class="value">{{formatPrice(drink.getPrice())}}</div>
    </div>

    <div class="prop-container">
      <div class="key">mL:</div>
      <div class="value">{{drink.getMl()}}</div>
    </div>

    <div>
      <div *ngIf="drink.getPic(); else noPic" class="prop-container">
        <div class="key">Foto:</div>
        <img class="value" [src]="drink.getPic()" alt="{{drink.getTitle()}}">
      </div>
      <ng-template #noPic>
        <div class="key">Foto:</div>
        <div class="value">sem foto</div>
      </ng-template>
    </div>

    <div class="prop-container">
      <div class="key">Em estoque:</div>
      <div class="value" *ngIf="drink.isInStock()">Sim</div>
      <div class="value" *ngIf="!drink.isInStock()">Não</div>
    </div>

    <div class="buttons">
      <button class="key" (click)="drink.setEditable(true)">Editar</button>
      <button class="value" (click)="deleteDrink(drink.getIdentifier())">Excluir</button>
    </div>
  </section>

  <section *ngIf="drink.getEditable()">
    <div class="prop-container">
      <label for="input-editing">Título:</label>
      <input id="input-editing" [(ngModel)]="drink.titleEditing">
    </div>

    <div class="prop-container">
      <label for="price">Preço:</label>
      <input id="price" type="text" currencyMask [(ngModel)]="drink.priceEditing" placeholder="R$ 0,00"
             [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
    </div>

    <div class="prop-container">
      <label for="ml">mL:</label>
      <input id="ml" type="text" [(ngModel)]="drink.mlEditing"/>
    </div>

    <div>
      <label for="pic">Foto:</label>
      <app-upload-image
        id="pic"
        [picUploaded]="!!drink.picEditing"
        (onChosenPic)="drink.setPicEditing($event)"
      ></app-upload-image>
    </div>

    <div class="prop-container">
      <label>Em estoque:</label>
      <select title="in-stock" (change)="drink.setInStockSelect($event.target)">
        <option *ngFor="let option of drink.getOptionsForInStock()">{{option}}</option>
      </select>
    </div>

    <div class="buttons">
      <button (click)="editDrink(drink)">Confirmar</button>
      <button (click)="cancelEditing(drink)">Cancelar</button>
      <button (click)="deleteDrink(drink.getIdentifier())">Excluir</button>
    </div>
  </section>
</main>
