<div class="empty-message" *ngIf="allDrinks.length === 0">Sem bebidas, adicione novas</div>
<main *ngFor="let drink of allDrinks">
  <section *ngIf="!drink.getEditable()">
    <div class="prop-container">
      <div class="key">Título:</div>
      <div class="value">{{drink.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Preço:</div>
      <div class="value">{{formatPrice(drink.getPrice())}}</div>
    </div>

    <div class="prop-container">
      <div class="key">mL:</div>
      <div class="value">{{drink.getMl()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Em estoque:</div>
      <div class="value" *ngIf="drink.isInStock()">Sim</div>
      <div class="value" *ngIf="!drink.isInStock()">Não</div>
    </div>

    <div class="buttons">
      <button class="key" (click)="drink.setEditable(true)">Editar</button>
      <button class="value" (click)="deleteDrink(drink.getIdentifier())">Excluir</button>
    </div>
  </section>

  <section *ngIf="drink.getEditable()">

  </section>
</main>
