<div class="empty-message" *ngIf="allDrinks.length === 0">Sem bebidas, adicione novas</div>
<main *ngFor="let drink of allDrinks">
  <section *ngIf="!drink.getEditable()">
    <div class="prop-container">
      <div>Título:</div>
      <div>{{drink.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div>Preço:</div>
      <div>{{formatPrice(drink.getPrice())}}</div>
    </div>

    <div class="prop-container">
      <div>mL:</div>
      <div>{{drink.getMl()}}</div>
    </div>

    <div class="prop-container">
      <div>Em estoque:</div>
      <div *ngIf="drink.isInStock()">Sim</div>
      <div *ngIf="!drink.isInStock()">Não</div>
    </div>

    <div class="buttons">
      <button (click)="drink.setEditable(true)">Editar</button>
      <button (click)="deleteDrink(drink.getIdentifier())">Excluir</button>
    </div>
  </section>

  <section *ngIf="drink.getEditable()">

  </section>
</main>
