<section>
  <h2>Adicionar Hambúrguer</h2>
  <div>
    <label for="title">Título:</label>
    <input id="title" [(ngModel)]="title" placeholder="Nome do Hambúrguer">
  </div>

  <div>
    <label for="category">Categoria:</label>
    <select id="category" (change)="setCategory($event.target?.valueOf())">
      <option *ngFor="let category of allCategories">{{category}}</option>
    </select>
  </div>

  <div>
    <label for="price">Preço:</label>
    <input id="price" type="text" currencyMask [(ngModel)]="price" placeholder="R$ 0,00"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
  </div>

  <div>
    <label for="pic">Foto:</label>
    <input id="pic" [(ngModel)]="pic">
  </div>

  <div>Ingredientes:</div>
  <div class="ingredients-container">
    <div class="selected-ingredient" *ngFor="let ingredient of selectedIngredients">
      <div class="ingredient-title">{{ingredient.ingredientToString()}}</div>
      <div class="x" (click)="removeIngredient(ingredient)">x</div>
    </div>
  </div>

  <div>
      <label for="ingredients">Adicionar ingrediente:</label>
      <select id="ingredients" (change)="addIngredient($event.target?.valueOf())">
        <option *ngFor="let ingredient of allIngredients">
          {{ingredient.ingredientToString()}}
        </option>
      </select>
  </div>

  <div>
    <label for="in-stock">Em estoque:</label>
    <select id="in-stock" >
      <option>Sim</option>
      <option>Não</option>
    </select>
  </div>
  <button>Adicionar</button>

</section>
