div {
  font-family: 'Poppins', sans-serif;

  background-color: #EDD925;
  color: #303030;
  border-radius: 0.6rem;
  min-width: 20rem;
  height: 3.2rem;

  border-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  margin: 0.5rem 0 0.5rem 0;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 1
}

div:hover {
  background-color: #f1ed08;
}

div:active {
  transform: scale(0.96);
}
