<ng-template #notHidden>
  <main>
    <section class="burgers-and-portions-details">

      <section class="burger-details" *ngIf="order.burgers.length">
        <h3>Seus Hambúrgueres</h3>
        <ul>
          <li class="selects" *ngFor="let burger of order.burgers; let burgerIndex = index">
            <h3>{{burgerIndex + 1}}º Hambúrguer: {{burger.getTitle()}}</h3>

            <section class="select-field">
              <label for="bread{{burgerIndex}}">Pão: </label>
              <select id="bread{{burgerIndex}}" [(ngModel)]="burger.breadEditing" [compareWith]="compareBreads">
                <option [value]="''" disabled>Escolher pão</option>
                <option *ngFor="let bread of breads" [ngValue]="bread">{{bread.title}}</option>
              </select>
            </section>

            <section class="select-field">
              <label for="combo{{burgerIndex}}">Combo: </label>
              <select id="combo{{burgerIndex}}" [(ngModel)]="burger.comboEditing" [compareWith]="compareCombos" (change)="onComboChange($event, burger)">
                <option [value]="''" disabled>Escolher combo</option>
                <option [ngValue]="null">Sem combo</option>
                <option *ngFor="let combo of combos" [ngValue]="combo">{{combo.getTitle()}}</option>
              </select>
            </section>

            <app-on-add-on-choose
              (addOnsStatus)="onBurgerAddOnFinished($event)"
              [item]="burger"
              [itemIndex]="burgerIndex"
              [allAddOns]="addOns">
            </app-on-add-on-choose>

            <app-item-obs
              [item]="burger"
              [itemIndex]="burgerIndex"
              exObs="Ex: Ponto da carne, retirar algum ingrediente ou trocar por outro."
            ></app-item-obs>

          </li>
        </ul>
      </section>

      <section class="portion-details" *ngIf="order.portions.length">
        <h3>Suas porções</h3>
        <ul>
          <li  class="selects"  *ngFor="let portion of order.portions; let portionIndex = index">
            <h3>{{portionIndex + 1}}º {{portion.getTitle()}}</h3>
            <app-on-add-on-choose
              (addOnsStatus)="onPortionAddOnFinished($event)"
              [item] = "portion"
              [itemIndex]="portionIndex"
              [allAddOns]="addOns">
            </app-on-add-on-choose>

            <app-item-obs
              [item]="portion"
              [itemIndex]="portionIndex"
              exObs="Ex: Ponto do sal, retirar algum molho ou trocar por outro."
            ></app-item-obs>
          </li>
        </ul>
      </section>

    </section>

    <section class="helpers">
      <section *ngIf="order.burgers.length">
        <h3>Entenda os combos</h3>
        <app-menu-helper listTitle="Combos" [itemList]="combos"></app-menu-helper>
        <h3>Entenda os Adicionais</h3>
        <app-menu-helper listTitle="Adicionais" [itemList]="addOns"></app-menu-helper>
      </section>

      <section *ngIf="order.portions.length">
        <h3>Entenda os Adicionais</h3>
        <app-menu-helper listTitle="Adicionais" [itemList]="addOns"></app-menu-helper>
      </section>
    </section>

  </main>

  <app-yellow-button
    text="REVISAR PEDIDO E ESCOLHER MÉTODO DE PAGAMENTO"
    (clicked)="finishItemsDetails()"
  ></app-yellow-button>

</ng-template>

<app-yellow-button
    *ngIf="hidden else notHidden"
    text="ALTERAR DETALHES"
    (clicked)="updateItemsDetails()"
></app-yellow-button>
