select {
  background-color: transparent;
}

option {
  background-color: #232222;
}

body, main {
  display: flex;
  flex-direction: column;
}

select {
  margin: 0.5rem;
}

footer {
  display: flex;
  align-items: center;
}

ol {
  padding-left: 0;
  padding-right: 0;
}

.selects{
  display: flex;
  flex-direction: column;
}

.select-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
