<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
<!-- Fonte do Header -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=League+Spartan:wght@400;500;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
<!-- Fonte do Header (ADM) -->

<body>
  <header>
    <img src="../../../assets/Coroa.png" alt="">
    <div class="title-and-subtitle">
      <h1>SABOROSO BURGUER</h1>
    <h4>Administração</h4>
    </div>
  </header>

  <section>
    <div class="button-manager" (click)="redirectToMenuManagement()">
      GESTOR DE CARDÁPIO
    </div>
  
    <div class="button-manager" (click)="redirectToOrderManagement()">
      GESTOR DE PEDIDOS
    </div>
  </section>
</body>