<div class="empty-message" *ngIf="allPortions.length === 0">Sem porções, adicione novas</div>
<main *ngFor="let portion of allPortions">
  <section *ngIf="!portion.getEditable()">
    <div class="prop-container">
      <div>Nome:</div>
      <div>{{portion.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Descrição:</div>
      <div class="value">{{portion.getDescription()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Preço:</div>
      <div class="value">{{portion.getPriceToString()}}</div>
    </div>

    <div class="prop-container">
      <div *ngIf="portion.getPic(); else noPic">
        <div class="key">>Foto:</div>
        <img class="value" ngSrc="{{portion.getPic()}}" alt="{{portion.getTitle()}}" fill="false">
      </div>
      <ng-template #noPic>
        <div class="key">Foto:</div>
        <div class="value">sem foto</div>
      </ng-template>
    </div>

    <div class="prop-container">
      <div>Em estoque:</div>
      <div class="key" *ngIf="portion.getInStock()">Sim</div>
      <div class="value" *ngIf="!portion.getInStock()">Não</div>
    </div>

    <div class="buttons">
      <button (click)="portion.setEditable(true)">Editar</button>
      <button (click)="deleteBurger(portion.getIdentifier())">Excluir</button>
    </div>
  </section>
  <section *ngIf="portion.getEditable()">
  </section>
</main>
