<div class="empty-message" *ngIf="allPortions.length === 0">Sem porções, adicione novas</div>
<main *ngFor="let portion of allPortions">
  <section *ngIf="!portion.getEditable()">
    <div class="prop-container">
      <div>Título:</div>
      <div>{{portion.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Descrição:</div>
      <div class="value">{{portion.getDescription()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Preço:</div>
      <div class="value">
           {{getFormattedPrice(portion.getPrice())}}
      </div>
    </div>

    <div class="prop-container">
      <div *ngIf="portion.getPic(); else noPic">
        <div class="key">>Foto:</div>
        <img class="value" ngSrc="{{portion.getPic()}}" alt="{{portion.getTitle()}}" fill="false">
      </div>
      <ng-template #noPic>
        <div class="key">Foto:</div>
        <div class="value">sem foto</div>
      </ng-template>
    </div>

    <div class="prop-container">
      <div>Em estoque:</div>
      <div class="key" *ngIf="portion.getInStock()">Sim</div>
      <div class="value" *ngIf="!portion.getInStock()">Não</div>
    </div>

    <div class="buttons">
      <button (click)="portion.setEditable(true)">Editar</button>
      <button (click)="deletePortion(portion.getIdentifier())">Excluir</button>
    </div>
  </section>
  <section *ngIf="portion.getEditable()">
    <div class="prop-container">
      <label for="input-editing">Título:</label>
      <input id="input-editing" [(ngModel)]="portion.titleEditing">
    </div>

    <div class="description-container prop-container">
      <label for="description">Descrição:</label>
      <textarea
        id="description" [(ngModel)]="portion.descriptionEditing"
        placeholder="Digite aqui a descrição da porção"
        rows="5" cols="30"
      ></textarea>
    </div>

    <div class="prop-container">
      <label for="price">Preço:</label>
      <input id="price" type="text" currencyMask [(ngModel)]="portion.priceEditing" placeholder="R$ 0,00"
             [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
    </div>

    <div class="prop-container">
      <label for="pic">Foto:</label>
      <input id="pic" [(ngModel)]="portion.picEditing">
    </div>

    <div class="prop-container">
      <label>Em estoque:</label>
      <select title="in-stock" (change)="portion.setInStockSelect($event.target)">
        <option *ngFor="let option of portion.getOptionsForInStock()">{{option}}</option>
      </select>
    </div>

    <div class="buttons">
      <button (click)="editPortion(portion)">Confirmar</button>
      <button (click)="cancelEditing(portion)">Cancelar</button>
      <button (click)="deletePortion(portion.getIdentifier())">Excluir</button>
    </div>
  </section>
</main>
