div {
  height: 2rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pressed {
  background-color: yellow;
  color: black;
}
.not-pressed {
  /*background-color: black;*/
  border: 0.15rem solid #5A5858;
  color: yellow;
}
.not-pressed:hover{
  background-color: #4b4b4b;
}
