div {
  height: 2rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: 'Poppins', sans-serif;
}

div:active{
  transform: scale(0.96);
}

.pressed {
  background-color: #EDD925;
  border: 0.15rem solid #EDD925;
  color: #232222;
}

.pressed:hover{
  background-color: #f1ed08;
}

.not-pressed {
  /*background-color: black;*/
  border: 0.15rem solid #5A5858;
  color: white;
}
.not-pressed:hover{
  background-color: #4b4b4b;
}
