section {
    border: white solid 0.1rem;
    min-width: 25rem;
    max-width: 30rem;
    margin-top: 0.5rem;
}
.prop-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
}
.key {
    margin-right: 1rem;
}
.value {
    text-align: end;
    margin-left: 1rem;
    max-width: 15rem;
}
h3 {
    text-align: center;
}
.buttons {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.empty-message {
    text-align: center;
}

.description-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
