<section class="burgers">
  <h3>SMASHES ARTESANAIS:</h3>
  <ul>
    <li *ngFor="let burger of allAvailableBurgers.smash_artesanal">

    </li>
  </ul>
</section>

<section class="burgers">
  <h3>DUPLO SMASH:</h3>
  <div *ngFor="let burger of allAvailableBurgers.smash_duplo">

  </div>
</section>

<section class="burgers">
  <h3>PREMIUM</h3>
  <div *ngFor="let burger of allAvailableBurgers.premium">

  </div>
</section>

<section class="burgers">
  <h3>PREMIUM DUPLO:</h3>
  <div *ngFor="let burger of allAvailableBurgers.premium_duplo">

  </div>
</section>

<section class="burgers">
  <h3>KIDS</h3>
  <div *ngFor="let burger of allAvailableBurgers.kids">

  </div>
</section>
