<section class="choosing-add-ons">
  <label for="add-on-amount{{itemIndex}}">Quantos adicionais?</label>
  <select id="add-on-amount{{itemIndex}}" (change)="chooseNumberOfAddOns($event.target)">
    <option>Sem adicional</option>
    <option *ngFor="let i of numberOfAddons">{{i}}</option>
  </select>

  <div *ngFor="let addOnIndex of chosenNumberOfAddons">
    <h4><label>Para o {{addOnIndex}}º adicional</label></h4>
    <select id="burger{{itemIndex}}add-on{{addOnIndex}}">
      <option>Escolher adicional</option>
      <option *ngFor="let addOn of addOns">{{addOn.getTitle()}}</option>
    </select>
  </div>
</section>
