select {
  background-color: transparent;
  margin: 0.5rem;
}

option {
  background-color: #232222;
}

.select-field {
  /*width: 25rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.obs-example {
  color: #c0c0c0;
}
.obs-field {
  /*max-width: 20rem;*/
  display: flex;
  flex-direction: column;
}


