select {
  margin: 0.5rem;
}
.select-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.obs-example {
  color: #c0c0c0;
}
.obs-field {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}


