body {
  background: brown;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.home-button {
  position: absolute;
  right: 1rem;
}

.line-container {
  display: flex;
  justify-content: center;

}
.separator-line {
  width: 35rem;
  border: solid 0.1rem white;
  margin: 2rem;
}

.details-container {
  min-width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  margin: 0.5rem;
}

.selects {
  display: flex;
  flex-direction: column;
}

.burger-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.helpers {
  display: flex;
  flex-direction: column;
}

.order-review{
  display: flex;
  flex-direction: column;
}
