<body>
  <header>
    <button class="home-button" (click)="redirectToHome()">Voltar</button>
    <app-welcome-header></app-welcome-header>
    <app-highlights-and-menu-buttons (clickedOption)="onChangeOption($event)"></app-highlights-and-menu-buttons>
  </header>

  <div class="line-container"><div class="separator-line"></div></div>

  <main>

    <section *ngIf="onHighlights; else menu">
        <app-highlight-burgers></app-highlight-burgers>
    </section>

    <ng-template #menu>

      <!--  Primeira parte do pedido:  -->
      <section>
             <app-choosing-items
            [hidden]="state !== IOrderState.CHOOSING_ITEMS"
            (nextStep)="goToItemDetails($event)"
            (backToMe)="goToChoosingItems()"
          ></app-choosing-items>
      </section>

      <!--  Segunda parte, escolhendo pães, adicionais e combos  -->
      <section *ngIf="state !== IOrderState.CHOOSING_ITEMS">
        <app-items-details
          [hidden]="state !== IOrderState.ITEMS_DETAILS"
          [order]="order"
          [addOns]="addOns"
          [combos]="combos"
          [breads]="breads"
          (nextStep)="goToOrderReview($event)"
          (backToMe)="goToItemDetails()"
        ></app-items-details>
      </section>

      <!--  Revisando o pedido  -->
      <section *ngIf="state !== IOrderState.CHOOSING_ITEMS && state !== IOrderState.ITEMS_DETAILS">
        <app-order-review
          [hidden]="state !== IOrderState.ORDER_REVIEW"
          [order]="order"
          (nextStep)="goToContactInfo()"
          (backToMe)="goToOrderReview()"
        ></app-order-review>
      </section>

<!--    Passando endereço e contato para confirmar  -->
      <section *ngIf="state !== IOrderState.CHOOSING_ITEMS && state !== IOrderState.ITEMS_DETAILS && state !== IOrderState.ORDER_REVIEW">

        <app-contact-and-address
          [hidden]="state !== IOrderState.CONTACT_AND_ADDRESS"
        ></app-contact-and-address>
<!--        <div class="change-order-button">-->
<!--          <app-yellow-button-->
<!--            text=""-->
<!--          ></app-yellow-button>-->

<!--  &lt;!&ndash;        <div class="yellow-button" (click)="goToItemDetails(order)">ALTERAR DETALHES</div>&ndash;&gt;-->
<!--        </div>-->

        <h2>Lança o endereço e o zap ae pra nós pae</h2>
<!--        <div class="yellow-button" >CONFIRMAR PEDIDO</div>-->
      </section>

    </ng-template>
  </main>

</body>
