<body>
  <header>
    <button class="home-button" (click)="redirectToHome()">Voltar</button>
    <app-welcome-header></app-welcome-header>
    <app-buttons-container (clickedOption)="onChangeOption($event)"></app-buttons-container>
  </header>
  <div class="line-container"><div class="separator-line"></div></div>
  <main>
    <!--  Primeira parte do pedido:  -->
    <section>
      <div *ngIf="onHighlights; else menu">
        <app-highlight-burgers></app-highlight-burgers>
      </div>

      <ng-template #menu>
        <app-menu (nextStep)="goToDetails($event)" (changeOrder)="updateOrder()"></app-menu>
      </ng-template>
    </section>

    <!--  Segunda parte, escolhendo pães, adicionais e combos  -->

    <section class="details-container" *ngIf="onDetails">
      <section class="burger-and-portion-details">

        <section class="burger-details" *ngIf="order.burgers.length">
          <h3>Seus Hambúrgueres</h3>
          <ul>
            <li class="selects" *ngFor="let burger of order.burgers; let burgerIndex = index">
              <h3>{{burgerIndex + 1}}º Hambúrguer: {{burger.getTitle()}}</h3>
              <select id="bread{{burgerIndex}}">
                <option>Escolher o pão</option>
                <option *ngFor="let bread of breads">{{bread.title}}</option>
              </select>

              <select id="combo{{burgerIndex}}">
                <option>Escolher combo</option>
                <option>Sem combo</option>
                <option *ngFor="let combo of combos">{{combo.getTitle()}}</option>
              </select>

              <app-on-add-on-choose
                [itemIndex]="burgerIndex"
                [addOns]="addOns">
              </app-on-add-on-choose>
            </li>
          </ul>
<!--          &lt;!&ndash; Implementar &ndash;&gt;-->
<!--          <button>Terminar hambúrguer</button>-->
        </section>

        <section class="portion-details" *ngIf="order.portions.length" >
          <h3>Suas porções</h3>
          <ul>
            <li  class="selects"  *ngFor="let portion of order.portions; let portionIndex = index">
              <h3>{{portionIndex + 1}}º {{portion.getTitle()}}</h3>
              <app-on-add-on-choose
                [itemIndex]="portionIndex"
                [addOns]="addOns">
              </app-on-add-on-choose>
            </li>
          </ul>
        </section>

      </section>

      <section class="helpers">
          <app-menu-helper listTitle="Combos" [itemList]="combos"></app-menu-helper>
          <app-menu-helper listTitle="Adicionais" [itemList]="addOns"></app-menu-helper>
      </section>

    </section>

    <section *ngIf="onOrderReview">

    </section>

  </main>
</body>
