<body>
  <header>
    <button class="home-button" (click)="redirectToHome()">Voltar</button>
    <app-welcome-header></app-welcome-header>
    <app-highlights-and-menu-buttons (clickedOption)="onChangeOption($event)"></app-highlights-and-menu-buttons>
  </header>

  <div class="line-container"><div class="separator-line"></div></div>

  <main>
    <!--  Primeira parte do pedido:  -->
    <section>
      <div *ngIf="onHighlights; else menu">
        <app-highlight-burgers></app-highlight-burgers>
      </div>

      <ng-template #menu>
        <app-choosing-items (nextStep)="goToItemDetails($event)" (changeOrder)="goToChoosingItems()"></app-choosing-items>
      </ng-template>
    </section>

    <!--  Segunda parte, escolhendo pães, adicionais e combos  -->
    <section *ngIf="state !== IOrderState.CHOOSING_ITEMS">
      <app-items-details
        [hidden]="state !== IOrderState.ITEMS_DETAILS"
        [orderItems]="order"
        [addOns]="addOns"
        [combos]="combos"
        [breads]="breads"
        (nextStep)="goToOrderReview()"
      ></app-items-details>
    </section>

    <section *ngIf="state === IOrderState.ORDER_REVIEW">

      <h2>ESSE AQUI É TEU PEDIDO DA LIGADO, OLHA SÓ AS PRD</h2>

      <div class="yellow-button" (click)="goToContactInfo()">CONTATO E ENDEREÇO</div>
    </section>

    <!--  Parte final, revisando o pedido  -->
    <section *ngIf="state === IOrderState.CONTACT_AND_ADDRESS">
      <div class="change-order-button">
        <h1 class="arrow-up-icon">^</h1>
<!--        <div class="yellow-button" (click)="goToItemDetails(order)">ALTERAR DETALHES</div>-->
      </div>

      <h2>Lança o endereço e o zap ae pra nós pae</h2>
      <div class="yellow-button" >CONFIRMAR PEDIDO</div>
    </section>

  </main>
</body>
