/* Firefox */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    text-align: center;
}

.adding-item {
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change-order-button {
  /*background-color: #ffe907;*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-up-icon {
  margin: 1rem;
  height: 4rem;
  font-size: 4rem;
}
