<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
<!-- Fonte do Header -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=League+Spartan:wght@400;500;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
<!-- Fonte do Header (ADM) -->
<app-home-admin-header></app-home-admin-header>
<body>
<section>
  <H1>Cardápio:</H1>
  <app-yellow-button text="GESTOR DE HAMBÚRGUERES" (clicked)="redirectToBurgersManagement()"></app-yellow-button>
  <app-yellow-button text="GESTOR DE PORÇÕES" (clicked)="redirectToPortionsManagement()"></app-yellow-button>
  <app-yellow-button text="GESTOR DE BEBIDAS" (clicked)="redirectToDrinksManagement()"></app-yellow-button>
  <app-yellow-button text="GESTOR DE ADICIONAIS" (clicked)="redirectToAddOnsManagement()"></app-yellow-button>
  <app-yellow-button text="GESTOR DE COMBOS" (clicked)="redirectToCombosManagement()"></app-yellow-button>
</section>

<section>
  <h1>Pedidos</h1>
  <app-yellow-button text="GESTOR DE PEDIDOS" (clicked)="redirectToOrderManager()"></app-yellow-button>
  <app-yellow-button text="HISTÓRICO DE PEDIDOS" (clicked)="redirectToOrderHistory()"></app-yellow-button>
</section>
</body>
