<section>
  <section class="selecting">
    <label for="add-on-amount{{itemIndex}}">Quantos adicionais?</label>
    <select id="add-on-amount{{itemIndex}}" [(ngModel)]="item.numberOfAddOns" (change)="chooseNumberOfAddOns()">
      <option [value]="''" disabled>Selecionar um número</option>
      <option *ngFor="let i of rangeToChooseAddOns">{{!i ? 'Sem adicional' : i }}</option>
    </select>
  </section>

  <section *ngFor="let addOnIndex of item.getIndexesOfChosenAddOns()">
    <label for="item{{itemIndex}}add-on{{addOnIndex}}">Para o {{addOnIndex + 1}}º adicional</label>
    <select [(ngModel)]="item.addOnsEditing[addOnIndex]" id="item{{itemIndex}}add-on{{addOnIndex}}" (change)="onAddOnChange()" [compareWith]="compareAddOns">
      <option [value]="''" disabled>Escolher adicional</option>
      <option *ngFor="let addOnOption of allAddOns" [ngValue]="addOnOption">
        {{addOnOption.getTitle()}}
      </option>
    </select>
  </section>
</section>
