<section class="choosing-add-ons">
  <div class="selecting-amount">
    <label for="add-on-amount{{itemIndex}}">Quantos adicionais?</label>
    <select id="add-on-amount{{itemIndex}}" (change)="chooseNumberOfAddOns($event.target)" [(ngModel)]="item.numberOfAddOns">
      <option>Sem adicional</option>
      <option *ngFor="let i of rangeToChooseAddOns">{{i}}</option>
    </select>
  </div>

  <div *ngFor="let _selectedAddOn of item.addOnsEditing; let addOnIndex = index">
    <label for="burger{{itemIndex}}add-on{{addOnIndex}}">Para o {{addOnIndex + 1}}º adicional</label>
    <select id="burger{{itemIndex}}add-on{{addOnIndex}}" (change)="onAddOnChange()"
    [(ngModel)]="item.addOnsEditing[addOnIndex]">
      <option
        [ngValue]="addOnOption"
        *ngFor="let addOnOption of allAddOns"
      >
        {{addOnOption.getTitle()}}
      </option>
    </select>
  </div>
</section>
