<section>
  <div>
    <label for="title">Nome:</label>
    <input id="title" [(ngModel)]="title" placeholder="Nome da porção">
  </div>

  <div class="description-container">
    <label for="description">Descrição:</label>
    <textarea
      id="description" [(ngModel)]="description"
      placeholder="Digite aqui a descrição da porção"
      rows="5" cols="30"
    ></textarea>
  </div>

  <div>
    <label for="price">Preço:</label>
    <input id="price" type="text" currencyMask [(ngModel)]="price" placeholder="R$ 0,00"
           [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
  </div>

  <div>
    <label for="pic">Foto:</label>
    <app-upload-image
      id="pic"
      [picUploaded]="!!pic"
      (onChosenPic)="setPic($event)"
    ></app-upload-image>
  </div>

  <div>
    <label for="in-stock">Em estoque:</label>
    <select id="in-stock" (change)="setInStock($event.target)">
      <option>Sim</option>
      <option>Não</option>
    </select>
  </div>

  <button (click)="addPortion()">Adicionar</button>
</section>
