<section>

  <h3>Adicionar Hambúrguer</h3>
  <div>
    <label for="title">Título:</label>
    <input id="title" [(ngModel)]="title" placeholder="Nome do Hambúrguer">
  </div>

  <div>
    <label for="category">Categoria:</label>
    <select id="category" (change)="setCategory($event.target?.valueOf())">
      <option>Selecione</option>
      <option *ngFor="let category of allCategories">{{category.getTitle()}}</option>
    </select>
  </div>

  <div>
    <label for="price">Preço:</label>
    <input (change)="addBurger()" id="price" currencyMask [(ngModel)]="price" placeholder="R$ 0,00"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" autocomplete="off"/>
  </div>

  <div>
    <label for="pic">Foto:</label>
    <app-upload-image
      id="pic"
      (onChosenPic)="setPic($event)"
      [picUploaded]="!!pic"
    ></app-upload-image>
  </div>

  <div>Ingredientes:</div>
  <div class="ingredients-container">
    <div class="selected-ingredient" *ngFor="let ingredient of selectedIngredients">
      <div class="ingredient-title">{{ingredient.ingredientToString()}}</div>
      <div class="x" (click)="removeIngredient(ingredient)">x</div>
    </div>
  </div>

  <div>
      <label for="ingredients">Adicionar ingrediente:</label>
      <select id="ingredients" (change)="addIngredient($event.target?.valueOf())">
        <option>Selecione</option>
        <option *ngFor="let ingredient of allIngredients">{{ingredient.ingredientToString()}}</option>
      </select>
  </div>

  <div>
    <label for="in-stock">Em estoque:</label>
    <select id="in-stock" (change)="setInStock($event.target)">
      <option>Sim</option>
      <option>Não</option>
    </select>
  </div>
  <button (click)="addBurger()">Adicionar</button>

</section>
