<div class="empty-message" *ngIf="allAddOns.length === 0">Sem bebidas, adicione novas</div>
<main *ngFor="let addOn of allAddOns">
  <section *ngIf="!addOn.isEditable()">
    <div class="prop-container">
      <div class="key">Título:</div>
      <div class="value">{{addOn.getTitle()}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Preço:</div>
      <div class="value">{{formatPrice(addOn.getPrice())}}</div>
    </div>

    <div class="prop-container">
      <div class="key">Em estoque:</div>
      <div class="value" *ngIf="addOn.isInStock()">Sim</div>
      <div class="value" *ngIf="!addOn.isInStock()">Não</div>
    </div>

    <div class="buttons">
      <button (click)="addOn.setEditable(true)">Editar</button>
      <button (click)="deleteAddOn(addOn.getIdentifier())">Excluir</button>
    </div>
  </section>

  <section *ngIf="addOn.isEditable()">
    <div class="prop-container">
      <label for="input-editing">Título:</label>
      <input id="input-editing" [(ngModel)]="addOn.titleEditing">
    </div>

    <div class="prop-container">
      <label for="price">Preço:</label>
      <input id="price" type="text" currencyMask [(ngModel)]="addOn.priceEditing" placeholder="R$ 0,00"
             [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
    </div>

    <div class="prop-container">
      <label>Em estoque:</label>
      <select title="in-stock" (change)="addOn.setInStockSelect($event.target)">
        <option *ngFor="let option of addOn.getOptionsForInStock()">{{option}}</option>
      </select>
    </div>

    <div class="buttons">
      <button (click)="editAddOn(addOn)">Confirmar</button>
      <button (click)="cancelEditing(addOn)">Cancelar</button>
      <button (click)="deleteAddOn(addOn.getIdentifier())">Excluir</button>
    </div>
  </section>
</main>
