<body>
  <header>
    <button class="home-button" (click)="redirectToHome()">Voltar</button>
    <app-welcome-header></app-welcome-header>
    <app-buttons-container (clickedOption)="onChangeOption($event)"></app-buttons-container>
  </header>
  <div class="line-container"><div class="separator-line"></div></div>
  <main>
    <!--  Primeira parte do pedido:  -->
    <section>
      <div *ngIf="onHighlights; else menu">
        <app-highlight-burgers></app-highlight-burgers>
      </div>

      <ng-template #menu>
        <app-menu (nextStep)="onNextStep($event)"></app-menu>
      </ng-template>
    </section>

    <!--  Segunda parte, escolhendo pães e combos  -->
    <section *ngIf="onBreadChoose">
      <ul *ngIf="order.burgers.length">
        <li *ngFor="let burger of order.burgers; let i = index">
          <div>{{i + 1}}º {{burger.getTitle()}}</div>
          <select id="bread{{i}}">
            <option>Escolher o pão</option>
            <option *ngFor="let bread of breads">{{bread.title}}</option>
          </select>

          <select id="combo{{i}}">
            <option>Escolher combo</option>
            <option>Sem combo</option>
            <option *ngFor="let combo of combos">{{combo.getTitle()}}</option>
          </select>

          <select id="add-on{{i}}">
            <option>Escolher adicional</option>
            <option>Sem adicional</option>
            <option *ngFor="let addOn of addOns">{{addOn.getTitle()}}</option>
          </select>
        </li>
      </ul>
    </section>


  </main>
</body>
