/* You can add global styles to this file, and also import other style files */
* {
  color: white;
}

body > * {
  max-width: 40rem;
}

html, option{
  background-color: #232222;
}

select, input, button, textarea {
  background-color: transparent;
}
